<button onclick="window.location.href='{% url 'quizlet:index' %}'" class="btn btn-primary">
    Главное меню
</button>

<a>{{qizi}}</a>

<form action="{% url 'quizlet:detail' qizi.id %}" method='post'>
    {% csrf_token %}
    <table>
    {{form.as_table}}
    </table>
    <input type="submit" value="Submit">
</form>
{% if questions %}
    <ul>
    {% for con in questions %}
        <li>
            <a>{{con.question}}</a> Статус - <a>{{con.status}}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Вопросов нет</p>
{% endif %}